@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.buttonChoiceColor {
  width: 48px;
  height: 48px;
  font-size: 16px;
  border: 2px solid colors.$BUTTON_BORDER;
  border-radius: 24px;
  transition: 0.2s;

  .svgWrap {
    width: 28px;
    height: 28px;
    margin: 0 auto;
  }

  &:hover {
    // border: 2px solid rgba(colors.$TASK_ITEM_TITLE, 70%);
    background-color: colors.$BUTTON_BORDER;
  }
}

.clicked {
  background-color: colors.$BUTTON_BORDER;
}
