@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';
@use '/src/styles/mixins/visual';

h1 {
  font-size: 32px;
  font-weight: 600;
  color: colors.$BIG_TITLE;
}

.tasksTitle {
  margin: 30px 0 24px;
  font-size: 12px;
  font-weight: 600;
  color: colors.$TASKS_TITLE;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.taskContainer {
  height: 332px;
  margin-top: 8px;
  overflow: auto;
  user-select: none;
}

.taskBox {
  width: 100%;
  height: 60px;
  margin-top: 8px;
  overflow: hidden;
  transition: all 1s ease, height 0.7s ease 0.3s, margin 0.7s ease 0.3s;
}

.task {
  display: flex;
  width: 200%;
  transition: all 1s ease;
}

.taskStatic {
  display: flex;
  align-items: center;
  width: 50%;
  height: 60px;
  padding: 0 24px 0 0;
  line-height: 24px;
  cursor: pointer;
  background-color: colors.$WHITE;
  border-radius: 32px;
  box-shadow: 0 10px 20px 0 rgba(colors.$BLACK, 2%);

  .checkboxWrapper {
    @include flexbox.flexbox(center center);
    position: relative;
    width: 24px;
    height: 24px;
    margin: 0 24px;

    svg {
      @include position.middleBox;
      z-index: levels.$CHECK_ICON;
      color: colors.$WHITE;
      pointer-events: none;
      opacity: 0;
      transition: 0.2s;
    }
  }

  input[type='checkbox'] {
    @include position.middleBox;
    z-index: levels.$CHECK_BOX;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: 2px solid colors.$BLUE;
    border-radius: 50%;
    transition: 0.2s;

    &:checked {
      text-decoration: line-through;
      background-color: colors.$BLUE;
      border: 0;

      ~ svg {
        opacity: 1;
      }
    }
  }

  .title {
    width: 100%;
    max-height: 80%;
    font-size: 0.85em;
    color: colors.$TASK_ITEM_TITLE;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
    user-select: none;
  }

  .clear {
    color: colors.$GRAYC;
    text-decoration: line-through;
  }
}

.taskDelete {
  width: 50%;
  font-size: 0.8em;
  color: colors.$GRAYA;
  letter-spacing: 0.1em;
  user-select: none;
  background-color: transparent;
  @include flexbox.flexbox(center, center);

  .deleteIcon {
    color: colors.$GRAYA;

    img {
      width: 75%;
      vertical-align: bottom;
      border: none;
    }
  }

  .deleteText {
    margin: 0 48px 0 16px;
  }

  .deleteButton {
    padding: 3px 6px;
    font-size: 0.6em;
    font-weight: 600;
    letter-spacing: 0.05em;
    border: 1px solid colors.$GRAYD;
    border-radius: 12px;
  }
}

.addButton {
  @include position.absolute(auto 40px 40px auto);
  width: 66px;
  height: 66px;
  background-color: colors.$BLUE;
  border-radius: 50%;
  box-shadow: 0 10px 20px 0 rgba(colors.$BLACK, 15%);
  transition: 0.2s;

  &:hover {
    background-color: rgba(colors.$BLUE, 90%);
  }

  &::before,
  &::after {
    @include position.middleBox;
    width: 20px;
    height: 2px;
    content: '';
    background-color: colors.$WHITE;
  }

  &::after {
    transform: translate(-50%, -50%) rotate(90deg);
    transform-origin: center;
  }
}
