@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.buttonsWrapper {
  @include flexbox.flexbox(center center);
  height: 48px;
  // animation: 1s slideOnMount;

  .button {
    // svg {
    //   color: colors.$BLUE;
    // }
  }

  .blue {
    svg {
      color: colors.$BLUE;
    }
  }
}

.wrapButtons {
  @include flexbox.flexbox(center center);
  @include position.posCenterX;
  justify-content: space-between;
  width: 200px;
  margin-top: 80px;

  svg {
    color: colors.$TASKS_TITLE;
  }
}
