@use '/src/styles/mixins/position';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/levels';
@use '/src/styles/constants/colors';

.submitTitleWrapper {
  @include position.absolute(0 auto auto auto);
  z-index: levels.$TRANSITION_EXPANDED;
  width: 360px;
  height: 720px;
  padding: 60px 40px 40px;
  overflow: hidden;
  background-color: colors.$BACKGROUND;
  transition: 1s;
}

.submitCanceled {
  opacity: 0;
}

.submitTitleWrapperVisible {
  @include position.absolute(373px auto auto auto);
  z-index: levels.$MODAL;
  width: 280px;
  height: 72px;
  padding: 0;
  border-radius: 66px;
}

.submittedTitleHidden {
  @include position.absolute(25% auto auto -4px);
  z-index: levels.$MODAL;
  width: 360px;
  height: 92px;
  overflow: hidden;
  font-size: 28px;
  line-height: 92px;
  color: colors.$BLACK;
  visibility: hidden;
  background-color: colors.$BACKGROUND;
  transition: 1s;
}

.submittedTitleSpan {
  position: relative;
  left: -2px;
  margin-right: 16px;
}

.submittedTitleVisible {
  white-space: nowrap;
  visibility: visible;
  background-color: colors.$WHITE;
}

.submittedTitleOn {
  @include position.absolute(0 auto auto 0);
  @include flexbox.flexbox(center center);
  width: 280px;
  height: 60px;
  padding: 0 68px;
  font-size: 0.85em;
  line-height: 60px;
  border-radius: 66px;

  .checkboxWrapper {
    @include position.absolute(auto auto auto 21px);
    z-index: levels.$MODAL;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 50%;
    animation: 1s fadeIn;
  }

  span {
    position: relative;
    left: 0;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}
