@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.buttonChoiceColor {
  width: 100px;
  height: 42px;
  font-size: 16px;
  border: 2px solid colors.$BUTTON_BORDER;
  border-radius: 24px;
  transition: 0.2s;

  .svgWrap {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      width: 50px;
      font-size: 14px;
    }
  }

  &:hover {
    background-color: colors.$BUTTON_BORDER;
  }
}

.clicked {
  background-color: colors.$BUTTON_BORDER;
}
