@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.closeMenuButton {
  @include position.absolute(80px 200px);
  width: 50px;
  height: 50px;
  border: 2px solid rgba(colors.$GRAYD, 40%);
  border-radius: 50%;
  transition: 0.2s;

  &:hover {
    border-color: rgba(colors.$BLUE, 90%);
  }

  &::before,
  &::after {
    @include position.middleBox;
    width: 10px;
    height: 1px;
    content: '';
    background-color: colors.$WHITE;
    border-right: 0;
    border-bottom: 0;
    transform: translate(-60%, -350%) rotate(-45deg);
  }

  &::after {
    transform: translate(-60%, 350%) rotate(225deg);
    transform-origin: center;
  }
}
