@use '/src/styles/constants/colors';

.container {
  width: 100%;
  padding: 5px;
  margin-top: 30px;
  overflow: scroll;
  white-space: nowrap;
  cursor: grab;
  user-select: none;

  .card {
    display: inline-block;
    width: 60%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(black, 0.2);

    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  .total {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: rgba(colors.$GRAYA, 1);
  }

  .title {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .percentage {
    margin-top: 5px;
    font-size: 0.8rem;
    text-align: center;
  }

  .progress {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: rgba(colors.$GRAY2, 0.1);
    border-radius: 10px;

    .progressBar {
      position: absolute;
      display: block;
      height: 100%;
      background-color: rgba(colors.$TEAL, 1);
      border-radius: 10px;
      transition: width 0.2s;
    }
  }
}
