@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.dateButton {
  width: 144px;
  height: 48px;
  margin-right: 8px;
  font-size: 18px;
  color: colors.$TASKS_TITLE;
  border: 2px solid colors.$BUTTON_BORDER;
  border-radius: 24px;
  transition: 0.2s;

  &:hover {
    color: rgba(colors.$TASK_ITEM_TITLE, 70%);
    // border: 2px solid rgba(colors.$TASK_ITEM_TITLE, 70%);
    background-color: colors.$BUTTON_BORDER;
  }

  .dateButtonWrapper {
    display: flex;
    align-items: center;
    width: 144px;
    margin: 0 28px;

    .title {
      width: 72px;
    }
  }
}
