@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';
@use '/src/styles/mixins/animation';

.buttonNewTask {
  @include position.absolute(auto 40px 40px auto);
  width: 180px;
  height: 66px;
  font-size: 18px;
  color: colors.$WHITE;
  background-color: colors.$BLUE;
  border-radius: 50px;
  box-shadow: 0 10px 20px 0 rgba(colors.$BLACK, 15%);
  transition: 0.2s;
  @include animation.fadeInSlide(1s, 500ms);

  &:hover {
    background-color: rgba(colors.$BLUE, 90%);
  }

  .buttonTitle {
    @include flexbox.flexbox(center, center);

    .title {
      width: 95px;
    }
  }
}

.buttonNewTaskInactive {
  pointer-events: none;
  background-color: rgba(colors.$BLACK, 20%);
  box-shadow: none;
}
