@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.menu {
  position: relative;
  width: 360px;
  height: 720px;
  padding: 120px 40px 40px;
  background-color: #131f53;
  border-radius: 60px;
}
