@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.taskInput {
  width: 280px;
  margin-bottom: 48px;

  input {
    width: 280px;
    font-size: 28px;
    caret-color: colors.$TASKS_TITLE;
  }

  input::placeholder {
    color: colors.$TASKS_TITLE;
  }
}
