@use '/src/styles/constants/colors';
@use '/src/styles/mixins/position';
@use '/src/styles/mixins/animation';

.buttonClose {
  @include position.absolute(40px 40px auto auto);
  width: 48px;
  height: 48px;
  border: 2px solid colors.$BUTTON_BORDER;
  border-radius: 50%;
  transition: box-shadow 500ms;
  @include animation.fadeInSlide(1s, 0);

  svg {
    @include position.middleBox;
    color: colors.$BLACK;
  }

  &:hover {
    box-shadow: 0 0 10px rgba(colors.$BLACK, 0.1);
  }
}
