@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.modalPalette {
  @include position.absolute(auto -5px -60px auto);
  display: flex;
  justify-content: space-between;
  width: 225px;
  height: 50px;
  padding: 5px;
  background-color: colors.$BUTTON_BORDER;
  border-radius: 50px;
  transition: all 0.2s linear;

  .colorChip {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    transition: 0.2s;

    &:hover {
      border: 2px solid colors.$WHITE;
    }
  }

  .red {
    background-color: colors.$RED;
  }

  .orange {
    background-color: colors.$ORANGE;
  }

  .yellow {
    background-color: colors.$YELLOW;
  }

  .green {
    background-color: colors.$GREEN;
  }

  .blue {
    background-color: colors.$BLUE;
  }
}

.open {
  opacity: 1;
  transform: translateY(0);
}

.close {
  opacity: 0;
  transform: translateY(-1%);
}
